transformers
datasets
sacrebleu
rouge-score
pandas
nltk
tqdm
matplotlib
torch
notebook
boto3
fastapi
uvicorn
Jinja2==3.1.2
python-box==6.0.2
ensure==1.0.2
fastapi==0.78.0
uvicorn==0.18.3
mypy-boto3-s3
PyYAML
-e .
